// background
$bgPrimary: #ffffff;
$bgDark: #110936;

// font
$fontColorPrimary: #000000;
$fontColorSecondary: #505050;
$fontColorThree: #969696;

$fontColorBgDark: #eeeeee;
$linkColorBgDark: #eeeeee;

$linkHover: #555555;

// shadow color
$shadowColor: #110936;